@import url(../css/fonts.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 36px 0;
}
.contr{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.header{
    background:  #3E8989;
}
.menu{
    display: flex;
}

.nav__link{
        color:white;
        font-family: 'Regular';
font-size: 16px;
font-weight: 500;
line-height: 19px;
}
.nav__list{
    padding: 5px 10px;
    border-top: 3px solid  transparent;
    border-bottom: 3px solid  transparent;
}
.nav__list:hover{
    border-top: 3px solid white;
    border-bottom: 3px solid  white;
  transition: 0.6s;
  border-radius: 7ch;
}
.search{
    display: flex;
    align-items: center;
}
.search__text{
    padding: 8px 20px;
    border-right: none;
    border-radius: 20px 0px 0px 20px;
    border: none;
    outline: none;
}
.search__btn{
    padding: 9px 14px;
    background: #295E5E;
    border-right: none;
     border: none;
     border-radius: 0px 20px 20px 0px;
}
.banner{
    background: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner__h1{
    font-family: 'SemiBold';
font-size: 80px;
font-weight: 600;
line-height: 95px;
color: white;
}
.banner__p{
    font-family: 'Regular';
font-size: 40px;
font-weight: 500;
line-height: 47px;
color: white;
}
.banner__wrap{
    height: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.btn__a1{
     padding: 14px 77px;
    background: #B4436C;
    border-radius: 30px;
    font-family: 'Light';
    color: white;
transition: 0.3s;
}

.btn__a1:hover{
    background: white;
    color: #B4436C;
}

.about{
    padding-top: 80px;
    padding-bottom: 98px;
}
.about__wrap__desc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.about__h3{
    padding-bottom: 55px;
    font-family: 'InterR';
font-size: 40px;
font-weight: 600;
line-height: 48px;
color:#3E8989;
display: flex;
justify-content: center;
}
.about__foto{
padding-top: 50px;
padding-right: 20px;
}
.p1{
    font-family: 'Light';
font-size: 18px;
font-weight: 400;
line-height: 21px;
padding-bottom: 20px;
}
.p2{
    font-family: 'Light';
font-size: 18px;
font-weight: 400;
line-height: 21px;
}
.about__p{
    width: 545px;
}
.catalog{
    padding-bottom: 100px;
}
.catalog__class{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.card1{
    flex-basis: 15%;
    background: #EFEFEF; 
       padding: 2px 32px;
}

.card1{
    flex-basis: 15%;
    background: #EFEFEF; 
       padding: 2px 32px;
}
.card2{
    flex-basis: 15%;
    background: #EFEFEF; 
       padding: 77px 33px;
}
.card3{
    flex-basis: 15%;
    background: #EFEFEF; 
       padding: 75px 2px;
}
.card4{
    flex-basis: 15%;
    background: #EFEFEF; 
       padding: 20px;
}
.card__body{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.card__h4{
    padding-top: 32px;
    font-family: 'InterR';
font-size: 24px;
font-weight: 600;
line-height: 29px;
}

.card__h4:hover{
    color:#B4436C;
    transition: 0.3s;
}
.catalog__h3{
    font-family: 'InterSM';
font-size: 40px;
font-weight: 600;
line-height: 48px;
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 52px;
color: #3E8989;
}
.card__p1{
 padding: 30px 86px;
 font-family: 'InterR';
font-size: 24px;
font-weight: 600;
line-height: 29px;
}
.card__p1:hover{
    color: #B4436C;
    transition: 0.3s;
}
.card__p2{
 padding: 30px 86px;
 font-family: 'InterR';
font-size: 24px;
font-weight: 600;
line-height: 29px;
}
.card__p2:hover{
    color: #B4436C;
    transition: 0.3s;
}
.card__p3{
 padding: 30px 86px;
 font-family: 'InterR';
font-size: 24px;
font-weight: 600;
line-height: 29px;
}
.card__p3:hover{
    color: #B4436C;
    transition: 0.3s;
}
.card__p4{
 padding: 30px 86px;
 font-family: 'InterR';
font-size: 24px;
font-weight: 600;
line-height: 29px;
}
.card__p4:hover{
    color: #B4436C;
    transition: 0.3s;
}

.contacts{
    padding-top: 100px;    
}
.contacts__h2{
    padding-bottom: 50px;
}
.contacts__h2__wrap{
    font-family: 'InterR';
font-size: 40px;
font-weight: 600;
line-height: 48px;
color: #3E8989;
}
.about__contacts{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__p{
    font-family: 'Light';
font-size: 20px;
font-weight: 400;
line-height: 24px;
}
.about__contacts__num{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about__number{
    font-family: 'Light';
font-size: 20px;
font-weight: 400;
line-height: 24px;
}
.about__gmail{
    font-family: 'Light';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.footer{
    background: #3E8989;
    margin-top: 104px;
}
.footer__wrap{
    padding: 40px 0 15px 0;
}
.footer__wrap__desc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}
.footer__ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
.footer__menu{
    font-family: 'InterSM';
font-size: 16px;
font-weight: 500;
line-height: 19px;
color: white;
}
.footer__p{
    font-family: 'Light';
font-size: 14px;
font-weight: 400;
line-height: 17px;
color: white;
}